@import '~antd/lib/style/themes/default.less';
@import '~/src/custom.less';

.main-container {
  padding: 0 @normal-pixel;

  .ant-pro-page-container-warp {
    background: transparent;

    .ant-page-header {
      max-width: @page-max-width;
      margin: 0 auto;
      padding: 0;

      .ant-breadcrumb {
        margin-top: @normal-pixel;
        padding: 8px @normal-pixel;
      }
    }
  }

  .ant-pro-page-container-children-content {
    margin: @normal-pixel 0 0;
  }
}
