@import '~antd/es/style/themes/default.less';
@import '~/src/custom.less';

.footerBar {
  margin-top: @margin-md;
}

.form {
  margin-bottom: @margin-md;
  padding: 16px 16px 0;
  overflow: hidden;
  background: @component-background;
  box-shadow: @base-shadow;
}

.shadowBox {
  background: @component-background;
  box-shadow: @base-shadow;

  :global(.ql-editor) {
    height: 400px;
  }

  :global(.ql-toolbar) {
    border-color: @border-color-base;
  }

  :global(.ql-container) {
    border-color: @border-color-base;
  }
}
