@page-max-width: 1200px;
@bg-color: #fff;

.ant-pro-top-nav-header {
  .ant-pro-top-nav-header-main {
    max-width: @page-max-width;
    margin: 0 auto;
  }

  .ant-menu {
    justify-content: center;
  }
}

#md-editor-rt {
  ul,
  ol {
    list-style: revert;
  }
}
